@import './default.less';

.container{
    .nav-left {
        background-color: #001529;
        height: calc(100vh);
    }
    .main{
        height: calc(100vh);
        background-color: @colorL;
    }
    .content{
        position: relative;
        padding: 20px;
    }

}